
@import "tw-animate-css";

@font-face {
  font-family: 'Century Gothic';
  src: url('./assets/fonts/centurygothic.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Century Gothic';
  src: url('./assets/fonts/centurygothic_bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

